
// Fonts
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Poppins-300/Poppins-300.eot');
  src: url('/fonts/Poppins-300/Poppins-300.eot?#iefix') format('embedded-opentype'),
       local('Poppins Light'),
       local('Poppins-300'),
       url('/fonts/Poppins-300/Poppins-300.woff2') format('woff2'),
       url('/fonts/Poppins-300/Poppins-300.woff') format('woff'),
       url('/fonts/Poppins-300/Poppins-300.ttf') format('truetype'),
       url('/fonts/Poppins-300/Poppins-300.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Poppins-regular/Poppins-regular.eot');
  src: url('/fonts/Poppins-regular/Poppins-regular.eot?#iefix') format('embedded-opentype'),
       local('Poppins'),
       local('Poppins-regular'),
       url('/fonts/Poppins-regular/Poppins-regular.woff2') format('woff2'),
       url('/fonts/Poppins-regular/Poppins-regular.woff') format('woff'),
       url('/fonts/Poppins-regular/Poppins-regular.ttf') format('truetype'),
       url('/fonts/Poppins-regular/Poppins-regular.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Poppins-500/Poppins-500.eot');
  src: url('/fonts/Poppins-500/Poppins-500.eot?#iefix') format('embedded-opentype'),
       local('Poppins Medium'),
       local('Poppins-500'),
       url('/fonts/Poppins-500/Poppins-500.woff2') format('woff2'),
       url('/fonts/Poppins-500/Poppins-500.woff') format('woff'),
       url('/fonts/Poppins-500/Poppins-500.ttf') format('truetype'),
       url('/fonts/Poppins-500/Poppins-500.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Poppins-600/Poppins-600.eot');
  src: url('/fonts/Poppins-600/Poppins-600.eot?#iefix') format('embedded-opentype'),
       local('Poppins SemiBold'),
       local('Poppins-600'),
       url('/fonts/Poppins-600/Poppins-600.woff2') format('woff2'),
       url('/fonts/Poppins-600/Poppins-600.woff') format('woff'),
       url('/fonts/Poppins-600/Poppins-600.ttf') format('truetype'),
       url('/fonts/Poppins-600/Poppins-600.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Poppins-700/Poppins-700.eot');
  src: url('/fonts/Poppins-700/Poppins-700.eot?#iefix') format('embedded-opentype'),
       local('Poppins Bold'),
       local('Poppins-700'),
       url('/fonts/Poppins-700/Poppins-700.woff2') format('woff2'),
       url('/fonts/Poppins-700/Poppins-700.woff') format('woff'),
       url('/fonts/Poppins-700/Poppins-700.ttf') format('truetype'),
       url('/fonts/Poppins-700/Poppins-700.svg#Poppins') format('svg');
}



// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	font-family: Verdana, Geneva, sans-serif !important;
	font-size: 13px !important;
	color: #fff !important;
	background-color: #0090c5
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif !important;
}

a{
	color: #fff !important;
	text-decoration: none
}

.brand{
	display: inline-block;
	position: absolute
}

.brand-right{
	top: 20px;
	right: 15px
}

.brand-right img{
	height: 65px !important
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #005373;
    top: 5px;
}