.section .intro{
	margin-bottom: 50px
}
.section .intro-link, .section .intro-title{
	margin-bottom: 70px
}
.section .intro-link{
	letter-spacing: 2px
}
.find-more{
	display: table-cell;
	vertical-align: middle;

	span{
		display: inline-block;
		padding: 5px 15px;
		background: #6bc200
	}
}

#section0{
	background: url('images/bg-section-1.png') no-repeat 60% 40%;
}

#section2{
	background: url('images/delivery-man.png') no-repeat 80% 32%;
}
#section0 .intro h1, #section2 .intro h1{
	font-size: 72px;
	margin: 0;
	padding: 0;
	font-weight: 300
}
#section0 .tabs h2{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 22px
}

#section2 .intro h1{
	font-size: 60px
}

#section2 .benefits{
	text-align: center
}

#section2 .benefits .icon img{
	margin: 0 auto
}

#section2 .benefits .description{
	margin-top: 20px;
	letter-spacing: 2px
}

#section1 .bayer-steps{
	text-align: center;
	
	img{
		margin: 0 auto
	}
}

.footer{
	padding: 50px 0;
	background-color: #5a5a5a
}

.footer .spacer{
	background: #7e7e7e
}

#header{
	.navbar{
		margin-bottom: 0
	}
	.nav > li > a:hover, .nav > li > a:focus{
		background: none !important;
		color: #b7f866 !important
	}

	.nav > li > a{
		font-size: 14px !important;
		transition: color 0.4s;
		position: relative;
	}

	.nav > li > a::before, .nav > li > a:hover::before{
		top: 0;
		-webkit-transform-origin: 0 50%;
    	transform-origin: 0 50%;
	}

	.navbar-left > li > a::after, .navbar-left > li > a:hover::after{
		bottom: 0;
		-webkit-transform-origin: 0 50%;
    	transform-origin: 100% 50%;
	}

	.navbar-left > li > a::before, .navbar-left > li > a:hover::before, .navbar-left > li > a::after, .navbar-left > li > a:hover::after{
		content: '';
	    position: absolute;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    background: #b7f866;
	    -webkit-transform: scale3d(0, 1, 1);
	    transform: scale3d(0, 1, 1);
	    -webkit-transition: -webkit-transform 0.2s;
	    transition: transform 0.2s;
	}

	.navbar-left > li.active > a::before, .navbar-left > li.active > a::after, .navbar-left > li > a:hover::before, .navbar-left > li > a:hover::after{
		-webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	    -webkit-transition-duration: 0.4s;
	    transition-duration: 0.4s;
	}

	.nav > li.active > a{
		color: #b7f866 !important
	}

	.navbar-nav > li > a{
		padding-bottom: 5px;
		padding-top: 5px
	}

	.navbar-right li{
		margin-right: 15px
	}

	.navbar-right li::last{
		margin-right: 0
	}

	.navbar-right li::first{
		margin-right: 20px
	}

	.navbar-right li.signin{
		border: 1px solid #b7f866;
	}

	.navbar-right li.upload-invoice, .navbar-right li.signin{		
		position: relative;
		overflow: hidden;
		z-index: 1
	}

	.navbar-right li.upload-invoice:hover::before, .navbar-right li.signin:hover::before{
		-webkit-transform: scale3d(9, 9, 1);
    	transform: scale3d(9, 9, 1);
	}

	.navbar-right li.upload-invoice::before, .navbar-right li.signin::before{
		content: '';
	    z-index: -1;
	    position: absolute;
	    top: 50%;
	    left: 100%;
	    margin: -15px 0 0 1px;
	    width: 30px;
	    height: 30px;
	    border-radius: 50%;
	    background: #005978;
	    -webkit-transform-origin: 100% 50%;
	    transform-origin: 100% 50%;
	    -webkit-transform: scale3d(1, 2, 1);
	    transform: scale3d(1, 2, 1);
	    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	    transition: transform 0.3s, opacity 0.3s;
	    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	    transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	}

	.navbar-right li.upload-invoice{
		border: 1px solid #6bc200;	
	}

	.navbar-right li.upload-invoice{
		background: #6bc200;
		color: #fff !important
	}
}

.footer{
	.logo-on-footer{
		margin-bottom: 20px
	}

	.footer-nav{
		position: relative;
	}

	.footer-nav ul{
		position: absolute;
		right: 10px;
		bottom: -135px
	}

	.footer-nav ul li.divider{
		color: #7e7e7e
	}

	.country-selection h4{
		font-size: 13px;
		color: #9d9d9d
	}

	.language-selection {

	   	width: 100%;
	   	position: relative;
   		margin-top: 15px;

	    select {
	        width: 100%;
	        background-color: #5a5a5a;
	        padding: 11px 12px 11px 44px;
	        text-align: right;
	        padding-right: 2.5em;
	        color: #fff;
	        border: 0;
	        margin: 0;
	        height: 45px;
	        border: 1px solid #7e7e7e;
	        //text-indent: 0.01px;     
	        text-overflow: '';
	        -webkit-appearance: button; /* hide default arrow in chrome OSX */
	        :focus {
	            outline: none;
	            box-shadow: none
	        }
	        option {
	            :first-child {
	                text-transform: uppercase;
	            }
	        }
	    }

	 	.form-control:focus{
 		 	outline: none;
            box-shadow: none
	 	}
	}

	.language-selection::before, .language-selection::after{
		content: "";
        position: absolute;
        pointer-events: none;
	}

	.language-selection::after{
		content: "<>";
        width: 0;
        height: 0;
        position: absolute;
        top: 30%;
        right: 15px;
        margin-top: -3px;
        -webkit-transform:rotate(90deg);
	    -moz-transform:rotate(90deg);
	    -ms-transform:rotate(90deg);
	    transform:rotate(90deg);
	    color: #7e7e7e !important;
	    font-size: 20px;
	}

	.language-selection::before{
		font-family: "FontAwesome";
        content: "\f0ac";
        top: 15px;
        left: 12px;
        line-height: 1;
        font-size: 18px;
        color: #7e7e7e
	}

	.language-selection select[disabled] {
	  color: rgba(0,0,0,.3);
	}

	.language-selection select[disabled]::after {
	  color: rgba(0,0,0,.1);
	}

	.language-selection::before {
	  //background-color: rgba(0,0,0,.15);
	}

	.language-selection::after {
	  color: #333;
	}

}

/* Fixed header and footer.
	* --------------------------------------- */
#header, #footer{
	position:fixed;
	display:block;
	width: 100%;
	background: #0090c5;
	z-index:9;
	padding-top: 20px
}

#header{
	top:0px;
}
#footer{
	bottom:0px;
}