.section .intro{
	margin-bottom: 50px
}
.section .intro-link, .section .intro-title{
	margin-bottom: 70px
}
.section .intro-link{
	letter-spacing: 2px
}
#section0{
	background: url('images/bg-section-1.png') no-repeat 60% 40%;
}
#section2{
	background: url('images/delivery-man.png') no-repeat 80% 32%;
}
#section0 .intro h1, #section2 .intro h1{
	font-size: 72px;
	margin: 0;
	padding: 0;
	font-weight: 300
}
#section0 .tabs h2{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 22px
}

#section2 .intro h1{
	font-size: 60px
}

#section2 .benefits{
	text-align: center
}

#section2 .benefits .icon img{
	margin: 0 auto
}

#section2 .benefits .description{
	margin-top: 20px;
	letter-spacing: 2px
}

.footer{
	padding: 50px 0;
	background-color: #5a5a5a
}

.footer .spacer{
	background: #7e7e7e
}

#header{
	.navbar{
		margin-bottom: 0
	}
	.nav > li > a:hover, .nav > li > a:focus{
		background: none !important;
		color: #b7f866 !important
	}

	.nav > li > a{
		font-size: 14px !important;
		transition: color 0.4s;
		position: relative;
	}

	.nav > li > a::before{
		top: 0;
		-webkit-transform-origin: 0 50%;
    	transform-origin: 0 50%;
	}

	.nav > li > a::after{
		top: 0;
		-webkit-transform-origin: 0 50%;
    	transform-origin: 100% 50%;
	}

	.nav > li > a::before, .nav > li > a::after{
		content: '';
	    position: absolute;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    background: #b7f866;
	    -webkit-transform: scale3d(0, 1, 1);
	    transform: scale3d(0, 1, 1);
	    -webkit-transition: -webkit-transform 0.2s;
	    transition: transform 0.2s;
	}

	.nav > li.active > a{
		color: #b7f866 !important
	}

	.nav > li.active > a::before, .nav > li.active > a:after{
		-webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	    -webkit-transition-duration: 0.4s;
	    transition-duration: 0.4s;
	}


}

.footer{
	.logo-on-footer{
		margin-bottom: 20px
	}

	.footer-nav{
		position: relative;
	}

	.footer-nav ul{
		position: absolute;
		right: 10px;
		bottom: -135px
	}

	.footer-nav ul li.divider{
		color: #7e7e7e
	}

	.country-selection h4{
		font-size: 13px;
		color: #9d9d9d
	}
}

/* Fixed header and footer.
	* --------------------------------------- */
#header, #footer{
	position:fixed;
	display:block;
	width: 100%;
	background: #0090c5;
	z-index:9;
	padding-top: 20px
}

#header{
	top:0px;
}
#footer{
	bottom:0px;
}